body{
    background-color: rgb(241, 241, 241);
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, sans-serif;
}

/*----side bar details----*/

.aside-bar{
    position: fixed;
    height: 60%;
    width: 16%;
    align-items: left;
    margin-left: 10px;
    margin-top: 100px;
    margin-bottom: 10%;
    background-color: #eaeaea;
    border-radius: 5px;
    /*box-shadow: 0 0 5px black;*/
    padding: 10px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-family: "Poppins", Arial, sans-serif;
    font-size: small;
    font-style: normal;
    border: 1px solid rgb(8, 75, 120);
    gap: 20px;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.aside-bar p{
    margin-top: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: normal;
    font-size: large;
    font-family: "Poppins", Arial, sans-serif;
    color: rgb(5, 115, 178);
}
.aside-bar ul{
    list-style: none;
    margin-bottom: 50px;
    
}
.social-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -100px;
    margin-bottom: 10px;
}
.social-text{
    font-size: 15px;
    position: absolute;
    margin-top: 6px;
    margin-right: 120px;
    margin-left: 10px;
    color: #010507;
}
.contact-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -200px;
    margin-bottom: 10px;
}
.contact-text{
    font-size: 15px;
    position: absolute;
    margin-top: 6px;
    margin-right: 120px;
    margin-left: 10px;
    color: #010507;
}

/*----navigation bar----*/

header{
    position: relative;
    font-family: "Poppins", Arial, sans-serif;
}
.nav-bar{
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    width: 84%;
    height: 15vh;
}
.nav-bar img{
    height: 90px;
    width: 90px;
    /*background-image: url(logobg.png);
    background-size: cover;*/
    margin-left: 75px;
}
nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    margin: initial;
    padding: 0 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(97, 97, 168);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 50px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(216, 12, 12);
}

/*----details section and image----*/

.details{
    margin-left: 22%;
    margin-top: 10%;
}
.details h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
span{
    color: orangered;
}
.details h3{
    font-size: 40px;
    color: black;
    margin-top: 30px;
}
.details p{
    color: #4b5d68;
    line-height: 25px;
}
.details a{
    background: rgb(241, 241, 241);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: normal;
    font-family: "Poppins", Arial, sans-serif;
    color: royalblue;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 5px;
    transform: scale(1);
    transition: transform 0.3s ease;
    border: 2px solid royalblue;
}
.details a:hover{
    transform: scale(0.9);
}
.image{
    width: 40%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 1%;
    top: 145px;
}
.image{
    background-image: url(backgroundpic.png);
    background-size: cover;
}
.image img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-55%);
    
}

/*----skills section----*/

.skillssection{
    margin: 20px;
    margin-top: 15%;
    margin-left: 20%;
    padding-bottom: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}
.skills-section{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.skills-section-heading{
    color: black;
    text-align: center;
    font-size: small;
    font-weight: lighter;
    margin-top: 50px;
    margin-left: 30px;
    /*text-decoration: underline;*/
    padding-top: 15px;
    
}
.skill{
    width: 150px;
    height: 150px;
    position: relative;
    border: 1px solid black;
    background-color: white;
    border-radius: 5%;
    margin-left: 15px;
    box-shadow: 5px 5px 5px rgba(13, 1, 1, 0.1);
}

.pic1{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
.pic2{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
.pic3{
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
.pic4{
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 75%;
    max-height: 75%;
}
.skillname{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 150px;
    margin-top: 101px;
    border-radius: 6px;
    background-color: rgb(16, 146, 193);
    padding-top: 5%;
    border: 1px solid rgb(97, 97, 168);
}

/*----eductional details section----*/

/*.educational-details {
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20px;
    padding: 20px;
    background-color: #14131a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    color: white;
  }

  .education-item {
    margin-bottom: 20px;
  }

  .degree {
    font-weight: lighter;
  }

  .institution {
    color: #666;
  }

  .date {
    color: #888;
  }
  .educational-details-heading{
    color: white;
    text-align: start;
    font-size: small;
    font-weight: lighter;
    margin-top: 1%;
    margin-bottom: 2%;
    text-decoration: none;
  }*/

/*----projects section----*/

.projectsection{
    margin: 20px;
    margin-top: 15px;
    margin-left: 20%;
    padding-bottom: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}
.project-section{
    display: flex;
    justify-content: center;
    margin: 20px;
    
}
.project-section-heading{
    color: black;
    text-align: center;
    font-size: small;
    font-weight: lighter;
    margin-top: 50px;
    margin-left: 30px;
    /*text-decoration: underline;*/
    padding-top: 15px;
}
.project1{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 125px;
    border-radius: 5%;
}
.project2{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    max-height: 125px;
    border-radius: 5%;
}
.project{
    width: 230px;
    height: 195px;
    position: relative;
    border: 1px solid rgb(97, 97, 168);
    background-color: #14131a;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
}
.projectname{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 55px;
    width: 228px;
    margin-top: 126px;
    border-radius: 9px;
    color: rgb(0, 0, 0);
    line-height: 25px;
    background-color: rgb(7, 172, 172);
    padding-top: 5%;
    border: 2px solid rgb(97, 97, 168);
}


/*----certifications section----*/

.certificatesection{
    margin: 20px;
    margin-top: 15px;
    margin-left: 20%;
    padding-bottom: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}
.certificate-section{
    display: flex;
    justify-content: center;
    margin: 20px;
    
}
.certificate-section-heading{
    color: black;
    text-align: center;
    font-size: small;
    font-weight: lighter;
    margin-top: 50px;
    margin-left: 30px;
    /*text-decoration: underline;*/
    padding-top: 15px;
}
.certificate1{
    width: 220px;
    height: 150px;
    position: relative;
    border: 1px solid rgb(97, 97, 168);
    background-color: #14131a;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
}
.certificate2{
    width: 220px;
    height: 150px;
    position: relative;
    border: 1px solid rgb(97, 97, 168);
    background-color: #14131a;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
}
.certificate3{
    width: 220px;
    height: 150px;
    position: relative;
    border: 1px solid rgb(97, 97, 168);
    background-color: #14131a;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
}

/*----achievements section----*/

.achievementssection{
    margin: 20px;
    margin-top: 10px;
    margin-left: 20%;
    padding-bottom: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}
.achievements-section{
    display: flex;
    justify-content: center;
    margin: 20px;
    
}

.achievements-section-heading{
    color: black;
    text-align: center;
    font-size: small;
    font-weight: lighter;
    margin-top: 50px;
    margin-left: 30px;
    /*text-decoration: underline;*/
    padding-top: 15px;
    
}
.achievements{
    width: 180px;
    height: 150px;
    position: relative;
    border: 1px solid black;
    background-color: #322f467c;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
}

.achievement1{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 65%;
    border-radius: 5px;
}
.achievement2{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 65%;
    border-radius: 10px;
}

.achievementname{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 180px;
    margin-top: 98px;
    border-radius: 5px;
    background-color: white;
    padding-top: 5%;
    border: 1px solid rgb(97, 97, 168);
}

/*----footer section----*/

.footer{
    background-color: #074f82;
    justify-content: center;  
    text-align: center; 
    justify-content: space-between;
    height:80px;
}

.footer p{
    color: black;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin-top: 50px;
    text-decoration: underline;
    padding-top: 30px;
}

/*----the end----*/